.nombEv{ background-color:#e21c37; border-radius:14px;}
.btnReg{ background-color:#e21c37; border-radius:14px; font-size: 18px;}
.nombTit{ color:black;}
.nombEvII{ color:white;}
.fond-form{ background:url('../imagenes/fond-from.png'); }


