<div class="col-sm-12">
    <div class="panel panel-default card-view">
        <table id="tblList" class="table table-hover display text-center  pb-20">
            <thead>
                <tr>
                    <th>DESCRIPCION</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                </tr>
            </thead>
                                    
            <tbody>
            </tbody>
                            
            <tfoot>
                <tr>
                    <th>DESCRIPCION</th>
                    <th>FECHA</th>
                    <th>HORA</th>  
                </tr>
            </tfoot>
        </table>  
    </div>
</div>