<div class="col-sm-12">
    <div class="panel panel-default card-view">
        <table id="tblList" class="table table-hover display text-center  pb-20">
            <thead>
                <tr>
                    <th>ACCIÒN</th>
                    <th>RAZON SOCIAL</th>
                    <th>CEDULA</th>
                    <th>TELEFONO</th>
                    <th>EMAIL</th>
                    <th>PERFIL</th>
                    <th>STATUS</th>          
                </tr>
            </thead>

                                    
            <tbody>
            </tbody>
                            
            <tfoot>
                <tr>
                    <th>ACCIÒN</th>
                    <th>RAZON SOCIAL</th>
                    <th>CEDULA</th>
                    <th>TELEFONO</th>
                    <th>EMAIL</th>
                    <th>PERFIL</th>
                    <th>STATUS</th>          
                </tr>
            </tfoot>
        </table>  
    </div>
</div>